body {
    background: linear-gradient(135deg, #00416A, #E4E5E6);
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #ffffffd9;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    color: #003f66;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
}

button {
    width: 100%;
    padding: 12px;
    background: #00416A;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #006699;
}

#msg, #balance {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 10px;
    text-align: center;
}
